@font-face {
  font-family: "Line Awesome Free";
  font-display: swap;
  src: url(https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/fonts/la-solid-900.woff2)
    format("woff2");
}
@font-face {
  font-family: "Line Awesome Brands";
  font-display: swap;
  src: url(https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/fonts/la-brands-400.woff2)
    format("woff2");
}

.la,
.lab,
.lad,
.lal,
.lar,
.las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.la-times::before {
  content: "\f00d";
}

.la-angle-down:before {
  content: "\f107";
}

.la-bars::before {
  content: "\f0c9";
}

.la-check:before {
  content: "\f00c";
}
.la.la-dribbble {
  font-family: "Line Awesome Brands";
  font-weight: 400;
}

.la-dribbble:before {
  content: "\f17d";
}

.la.la-twitter {
  font-family: "Line Awesome Brands";
  font-weight: 400;
}
.la-twitter:before {
  content: "\f099";
}

.la.la-instagram {
  font-family: "Line Awesome Brands";
  font-weight: 400;
}

.la-instagram:before {
  content: "\f16d";
}

.la.la-linkedin {
  font-family: "Line Awesome Brands";
  font-weight: 400;
}
.la-linkedin:before {
  content: "\f08c";
}

.la-arrow-up:before {
  content: "\f062";
}
